footer(class="footer foot")
	div(class="content has-text-centered")
		p <strong>&copy;</strong> 2018- By <strong>Silvester</strong>
		p
			a(href="https://github.com/Silverster98")
				i(class="fab fa-github")
		p 素材来源：
			a(href="http://simpledesktops.com") simple desktops
		p Powered By 
			a(href="http://www.expressjs.com.cn/") Express