nav(class="navbar is-fixed-top navigation")
	div(class="navbar-brand nav-left")
		a(class="navbar-item",href="/") Silvester
	div(class="navbar-menu") 
		div(class="navbar-start")
		div(class="navbar-end nav-end")
			a(class="navbar-item",href="/")
				i(class="fa fa-align-right")
				span 文章
			a(class="navbar-item",href="/")
				i(class="fa fa-download")
				span 下载
			a(class="navbar-item",href="/")
				i(class="fa fa-wrench")
				span 工具