doctype html
html
    link(rel="stylesheet", type="text/css", href="/css/specific.css")
    body
        div(class="set-center")
            h1(style="font-style:italic;") 404
            p(style="font-size: 18px;") can't find #{url}