.user-page{
    margin: 80px 20px;
}

.all-articles{
    padding: 45px 50px;
}

.side-link-title{
    margin-bottom: 10px;
}

.side-link a{
    font-size: 15px;
    text-decoration: none;
    color: #BB6237;
    margin-left: 5px;
}

.side-link a:hover{
    text-decoration: underline;
}

.article-list-title{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.article-list-title:hover{
    color: #BB6237;
}

.article-list-subtitle{
    /* line-height: 1.5; */
    padding: 6px 0 0 12px;
    font-size: 18px;
}

.article-list-calendar{
    color: #858585;
    padding: 0 8px;
    font-size: 14px;
}

.article-list-tags{
    padding: 0 5px;
    font-size: 14px;
}

.article-list-count{
    padding: 0 8px;
    font-size: 14px;
}

.article-list-tags a{
    color: #BB6237;
}

.article-list-tags a:hover{
    text-decoration: underline;
}

